[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = ">=4.0.0"
pytest-mock = "*"

[packages]
flask = ">=0.9"
redis = ">=2.10"

[requires]
python_version = "3"
